.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 100px 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    
}
.cart-container{
    /* position:fixed;
    margin-left: 80%; */
    background-color: bisque;
}