.product{
    width: 300px;
    height: 510px;
    border: 3px solid rgb(151, 91, 229);
    border-radius: 10px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    margin-left: 7px;
    border-radius: 10px;
}

.product-info{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 21px;
    font-style: normal;
    margin-bottom:0px;
    margin-top: 5px;
}
.price{
    margin-left: 10px;
}
.btn{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    color:rgb(9, 1, 1);
    font-weight: 400;
    position: absolute;
    bottom: 0;
}
.btn:hover{
    background-color: rgb(238, 202, 109);
    color: rgb(2, 115, 150);
}
/* .cart{
    font-size: 20px;
} */